@import './base.scss';
@import 'normalize.css';

* {
  font-family: var(--kanit);
  box-sizing: border-box;
}
#app{
  background-color: var(--dark2);
}
::-webkit-scrollbar{
  height: 10px;
  width: 4px;
  background: var(--dark2);
}
::-webkit-scrollbar-thumb:horizontal{
  background: var(--lime);
  border-radius: 10px;
}
