@import './base.scss';

* {
  padding: 0;
  margin: 0;
  font-family: var(--kanit);
  box-sizing: border-box;
}
#app{
  width: 100%;
  height: 100vh;
  background-color: var(--dark2);
}
::-webkit-scrollbar{
  height: 10px;
  width: 4px;
  background: var(--dark-light);
}
::-webkit-scrollbar-thumb:horizontal{
  background: var(--lime);
  border-radius: 10px;
}
